ion-toolbar {
  --background: #f5f5f3;


}

ion-content {
  --background: #f5f5f3;

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
    }

    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 8px solid #ffffff;
    }
  }

  #form {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }
}
.password_forgot{
  text-align: center;
  button{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
  }
}
.signin-buttons{
  margin-top: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;

}
.ion-card-footer{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 35px;
  span{
    font-size: 12px;
    font-weight: 200;
  }
  button{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
  }
  button:hover{
    color: #969393;
  }
}