<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/logo.jpg" />
  </div>

  <form id="form">
    <app-input placeholder="Username"></app-input>
    <app-input type="password" placeholder="Password"></app-input> 
  </form>
  <div class="password_forgot">
    <button fill="clear">Forgot Password?</button>
  </div>
  <div class="signin-buttons">
  <ion-button fill="solid" shape="round" expand="block" routerLink="/profile">Login</ion-button>
  </div>

  <div class="ion-card-footer">
    <span>Don't have an account?</span><button class="ion-no-padding" routerLink="/signup">Sign Up</button>

  </div>
</ion-content>
