ion-toolbar {
  --background: #f5f5f3;

}

ion-content {
  --background: #f5f5f3;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 10%;
  }

  #form {
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }

  p {
    text-align: center;
    color: #b6b6b6;
    margin-top: 40px;
  }
}

ion-avatar{
  height: 100px;
  width: 100px;
  margin: auto;
}