<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Create your<br />Account</h1>

  <form id="form">
    <ion-avatar>
    <button  (click)="click()" block>
      <img src="assets/picture.jpg">Click here to app photo
    </button></ion-avatar><br><br>
    <app-input placeholder="Your Name"></app-input>
    <app-input placeholder="Username"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <app-input placeholder="Present Address"></app-input>
    <app-input placeholder="Email Address"></app-input>
    <app-input type="number" placeholder="Contact Number"></app-input>   
    <ion-item >
      <ion-label>Gender </ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <br> 
    <ion-item>
      <ion-label position="floating">Birthday (MM/DD/YYYY)</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1900-01-01" max="2021-10-10" value="2002-09-23T15:03:46.789"></ion-datetime>
    </ion-item>
    <ion-button expand="block" shape="round">Join Us</ion-button>
  </form>

  <p>By pressing 'Join Us' you agree to <br />our terms & conditions.</p>
  
  
</ion-content>
