ion-content{
    --ion-background-color: #f5f5f3;
}

ion-header{
    position: relative;
    --ion-background-color: #f5f5f3;
}

ion-toolbar{
    --ion-background-color: #f5f5f3;
    --opacity:0;
}
ion-title{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color:black;
}
.container{
    width: 100%;
    height: 200px;
    display: block;
    background-color: #232641;
}
.overlay{
    position:relative;
    text-align: center;
    top:60%;

}
ion-avatar{
    height: 100px;
    width: 100px;
    margin: auto;
    border: 4px solid #3880ff;
}
ion-card{
    margin-top:40px;
    --ion-background-color: transparent !important;
    box-shadow: none;
    text-align: center;
}
ion-item{
    --ion-item-background: #536c77 ;
    text-align: center;
    color: #c2c3c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    height: 35px;
    --min-height:35px;
    margin-bottom: 10px;
}
ion-label{
    text-align: center;
    padding: 0px;
    margin: 0px;
}