<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="overlay">
      <ion-avatar>
          <img src="assets/DP.jpg">
      </ion-avatar>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Aljon Cacao
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="pin"></ion-icon>
        <ion-label>Present Address</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call"></ion-icon>
        <ion-label>Phone number/Email</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="logo-reddit"></ion-icon>
        <ion-label>Birthday</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
