
<ion-content>
    <ion-card>
        <ion-img src="assets/header.png"></ion-img>
        <ion-card-header>
        <ion-card-title>
            <h1>Welcome</h1>
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="signin-btns">
                <ion-button fill="solid" shape="round" class="loginbtn" size="large" routerLink="/login">PROCEED</ion-button>
            </div>
        </ion-card-content>
        <br>
        <br>
        <br>
        <br>
        <br><br>
    </ion-card>
</ion-content>