ion-content {
    --background: #f5f5f3;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
}
ion-header{
    position:absolute;
}
ion-toolbar {
    --background: #f5f5f3;
} 
ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }
.signin-btns{
    margin-top: 25px;
    text-align: center;

}